<h2 class="card-title text-center">Formulario de Ventas</h2>
<form>
    <div class="mb-3">
        <label for="id" class="form-label">Identificacion:</label>
        <input type="text" class="form-control" id="identificacion">
    </div>
    <div class="mb-3">
        <label for="nombres" class="form-label">Nombres:</label>
        <input type="text" class="form-control" id="nombres">
    </div>
    <div class="mb-3">
        <label for="direccion" class="form-label">Direccion:</label>
        <input type="dress" class="form-control" id="direccion">
    </div>
    <div class="mb-3">
        <label for="telefono" class="form-label">Telefono:</label>
        <input type="number" class="form-control" id="telefono">
    </div>
    <div class="mb-3">
        <label for="regimen" class="form-label">Regimen:</label>
        <input type="text" class="form-control" id="regimen">
    </div>
    <div class="mb-3">
        <label for="aseguradora" class="form-label">Aseguradora:</label>
        <input type="text" class="form-control" id="aseguradora">
    </div>
    <div class="mb-3">
        <label for="metodo_pago" class="form-label">Metodo de Pago:</label>
        <input type="text" class="form-control" id="metodo_pago">
    </div>
    <div class="mb-3">
        <label for="producto" class="form-label">Producto:</label>
        <input type="text" class="form-control" id="producto">
    </div>
    <div class="mb-3">
        <label for="cantidad" class="form-label">Cantidad:</label>
        <input type="number" class="form-control" id="cantidad">
    </div>
    <div class="mb-3">
        <label for="precio" class="form-label">Precio unitario:</label>
        <input type="number" class="form-control" id="precio">
    </div>
    <div class="mb-3">
        <label for="total" class="form-label">Total:</label>
        <input type="number" class="form-control" id="total" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Registrar Venta</button>
</form>