<!-- Menu de opciones mostrado a la izquierda -->
<div class="card">
    <div class="card-header">
      <h2 class="card-title text-center">Menú de opciones</h2>
    </div>
    <div class="card-body">
      <ul class="custom-list">
        <li><a href="#" onclick="mostrarFormulario('ventas')"><i class="fas fa-chart-line"></i> Ventas</a></li>
        <li><a href="#" onclick="mostrarFormulario('compras')"><i class="fas fa-shopping-cart"></i> Compras</a></li>
        <li><a href="#" onclick="mostrarFormulario('clientes')"><i class="fas fa-users"></i> Clientes</a></li>
        <li><a href="#" onclick="mostrarFormulario('inventario')"><i class="fas fa-boxes"></i> Inventario</a></li>
        <li><a href="#" onclick="mostrarFormulario('reportes')"><i class="fas fa-chart-bar"></i> Reportes</a></li>
        <li><a href="#" onclick="mostrarFormulario('ayuda')"><i class="fas fa-question-circle"></i> Ayuda</a></li>
        <li><a href="#" onclick="mostrarFormulario('PENSAMIENTO DIGITAL')"><i class="fas fa-question-circle"></i> PENSAMIENTO DIGITAL</a></li>
      </ul>
    </div>
  </div>